torch==2.5.1+cu121
torchvision==0.20.1+cu121

opencv-contrib-python==4.10.0.84
Pillow==10.2.0
numpy==2.2.6

tqdm==4.67.1
PyYAML==6.0.2

easyocr==1.7.2
vietocr==0.3.13

underthesea==9.2.11
symspellpy==6.9.0
